.square-bg{
	background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.widget-wrapper {
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
	margin-bottom: 30px;
	text-transform: capitalize;
}

.widget-wrapper h3 {
    margin-bottom: 20px;
    font-size: 18px;
}

.title {
    color: #dd3333;
}