body {
  margin: 0;
  padding: 0;
  font-family: 'revicons';
  color: black;
  background-color: #f2f2f2;
  /* background-image:linear-gradient(0deg,rgba(255,255,255,0.8),rgba(255,255,255,0.8)),url('/img/background.jpg');
  background-size: contain;
  background-position:center center; */
}

.clickable {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 25px;
  color: rgb(173, 39, 39);
}

.italic {
  font-style: italic;
}