body {
  margin: 0;
  padding: 0;
  font-family: 'revicons';
  color: black;
  background: #f2f2f2;
}

.clickable {
  cursor: pointer;
}

.link {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 25px;
  color: rgb(173, 39, 39);
}

.italic {
  font-style: italic;
}